@keyframes back-n-forth {
	0% {right: 0; opacity: 1}
	30% {right: 0.5rem; opacity: 1}
	100% {right: 0; opacity: 1}
}

@font-face {
	font-family: wremena-light;
	src:  url(../fonts/WremenaLight.woff);
}

@font-face {
	font-family: wremena-regular;
	src:  url(../fonts/WremenaRegular.woff);
}


/*STRUCTURE*/

* {
	font-family: wremena-light;
	font-size: 18px;
	text-align: center;

	color: rgba(0, 100, 0, 1.0);
}

body {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 100, 0, 1.0);
}

::-moz-selection {
  color: rgba(255,255,255,1);
  background-color: rgba(0,100,0,0.99);
}
::selection {
  color: rgba(255,255,255,1);
  background-color: rgba(0,100,0,0.99);
}

.wrapper.main {
	position: relative;
	display: none;
}

.column {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	height: calc(100% - 3.8rem);
	padding: 2rem;

	overflow: scroll;
}

.column-left,
.column-right {
	position: absolute;
	height: calc(100vh - 8rem);
	width: calc(50vw - 4rem);

	margin: 2rem;
	margin-bottom: 4rem;

	background-position: center;
	background-size: 90%;
	background-color: palevioletred;
}

.column-left {
	left: 0;
}

.column-right {
	right: 0;
}

.content {
	/*display: none;*/
}

.content.main {
	display: inline;
}

.three-columns {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 2rem;
	grid-row-gap: 0rem;
}

table {
	position: relative;

	height: auto;
	width: 100%;
	margin-bottom: 1.8rem;

	border: 0px solid white;
}

tr {
	vertical-align: middle;

	height: calc(100vh - 6rem);
	width: calc(100vw - 4rem);

	/*background-color: yellow;*/
}

th,
td {
	font-weight: normal;
}

td {
	width: 50%;
}

.caption {
	opacity: 0;

	position: fixed;
	top: 0.5rem;
	width: calc(100% - 6rem);
	margin-left: calc(0% + 3rem);
	margin-right: calc(0% + 3rem);

	z-index: 100;
}

.footer {
	opacity: 0;

	position: fixed;
	bottom: 5rem;
	width: calc(0% + 14rem);
	margin-left: calc(50% - 7.5rem);
	margin-right: calc(50% - 7rem);

	z-index: -100;
	transition-duration: 0.3s;
}

.footer-appear {
	opacity: 1;
	z-index: 100;
}

.in-page-footer {
	position: absolute;
	bottom: 1.9rem;
	width: calc(0% + 14rem);
	margin-left: calc(50% - 9rem);
	margin-right: calc(50% - 7rem);

	z-index: 100;
	transition-duration: 0.3s;

	/*background-color: yellow;*/
}

.in-page-footer-b {
	position: absolute;
	bottom: 1.9rem;
	width: calc(0% + 14rem);
	margin-left: calc(50% - 7rem);
	margin-right: calc(50% - 7rem);

	z-index: 100;
	transition-duration: 0.3s;

	/*background-color: yellow;*/
}

.arrow {
	line-height: 1rem;
	margin: 0;

	transition-duration: 0.3s;
	opacity: 0;
}

.arrow-appear {
	opacity: 1;
	z-index: 100;
}

.dim {
	opacity: 0.3;
}




/*CURSOR*/

.hi-concrete {
	position: fixed;
	padding: 5px 5px 4px 5px;

	font-size: 0.6rem;
	line-height: 0.6rem;
	letter-spacing: 0.02rem;
	text-align: center;
	white-space: nowrap;

	color: white;
	background-color: rgba(0, 100, 0, 1.0);
	mix-blend-mode: multiply;
}

.view-live-site {
	display: none;
	position: fixed;
	padding: 5px 5px 4px 5px;

	font-family: wremena-regular;
	font-size: 0.6rem;
	line-height: 0.6rem;
	/*letter-spacing: 0.01rem;*/
	text-align: center;
	white-space: nowrap;

	border: 1px solid rgba(0, 100, 0, 1.0);
	background-color: white;
}

.download {
	display: none;
	position: fixed;
	padding: 5px 5px 4px 5px;

	font-family: wremena-regular;
	font-size: 0.6rem;
	line-height: 0.6rem;
	/*letter-spacing: 0.01rem;*/
	text-align: center;
	white-space: nowrap;

	border: 1px solid rgba(0, 100, 0, 1.0);
	background-color: white;
}

.read-full-poem {
	display: none;
	position: fixed;
	padding: 5px 5px 4px 5px;

	font-family: wremena-regular;
	font-size: 0.6rem;
	line-height: 0.6rem;
	/*letter-spacing: 0.01rem;*/
	text-align: center;
	white-space: nowrap;

	border: 1px solid rgba(0, 100, 0, 1.0);
	background-color: white;
}

.more {
	cursor: zoom-in;
}

.fixed.chapter {
	/*cursor: pointer;*/
}

.in-page.chapter {
	/*cursor: pointer;*/
}

a.outside,
a.cv,
a.poem,
a.appendix {
	cursor: alias;
}




/*TYPOGRAPHY*/

p,
.header {
	/*margin: 0rem 0rem 2rem 0rem;*/
}

p,
th {
	/*mix-blend-mode: multiply;*/
}

.header,
span.date {
	font-size: 3rem;
}

.footer,
.in-page-footer,
.caption,
.appendix {
	letter-spacing: 0.01rem;
}

.chapter {
	font-size: 1rem;
	line-height: 1.2rem;
}

p.main.title, 
p.main.date,
ul, 
a, 
.chapter,
.page-title {
	margin: 0;
}

a {
	color: rgba(0, 100, 0, 1.0);
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.stretch {
	transform: skewX(-40deg) scaleX(1.5);
}

.appendix {
	line-height: 1rem;
	padding-top: -2rem;
}



/*HOVER STUFF*/





/*IMAGES*/

img {
	width: 100%;
	margin: 0;
}

.bg-img-wrapper {
	position: fixed;
	width: calc(100vw - 9rem);
	height: calc(100vh - 9rem);
	top: 0;
	left: 0;
	margin: 4.5rem;

	text-align: center;

	z-index: -100;
}

.bg-img {
	display: none;
	height: 100%;
	width: auto;
	margin: auto;
}

img.reg {
	padding: 4.5rem;
}

img.reg.vert {
	height: calc(100vh - 9rem);
	width: auto;
}

img.reg.hori {
	height: auto;
	width: calc(100% - 9rem);
}

img.reg.wide {
	padding-bottom: 1.6rem;
}


iframe {
	width: calc(100% - 9rem);
	height: 21.3vw;
	margin: 0rem;
}

.hoverimg {
	display: none;
	position: fixed;

	height: 26rem;
	width: auto;

	z-index: 1;
}

.hoverimg.left {
	transform: translate(16px,-50%);
}

.hoverimg.right {
	transform: translate(-103%,-50%);
}

.hoverimg.vert {
	height: 40rem;
}









/*MARGINS AND INDENTS*/

p.a {
	margin-left: -0.25rem;
}

.b.works-list {
	margin-left: 4rem;
}

.poem {
	/*margin-left: 2rem;*/
}

.margin-top {
	margin-top: 0.75rem;
}

.no-top-margin {
	margin: 0rem 0rem 1rem 0rem;
}

#no-bottom-margin {
	margin-bottom: 0rem;
}



/*CLASSES FOR JS*/

.visible {
	display: inline;
}

.flicker-txt {
	/*font-style: italic;*/
    /*animation: flicker-txt 600ms linear 0s infinite normal;*/
}

.flicker-img {
    /*animation: flicker-img 600ms linear 0s infinite normal;*/
}



/* LANDING */


html {
	scroll-behavior: smooth;
}

.wrapper {
	position: absolute;
	width: calc(100vw - 0.25rem);
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
}

.page {
	position: fixed;
	top: 0;
	left: 0;
	width: calc(100vw - 4rem);
	height: calc(100vh - 4rem);

	padding: 2rem;
	margin: 0;

	background-color: white;

	transition-duration: 1s;
}

.page.wrapper {
	width: calc(100vw - 0rem);
	height: calc(100vh - 0rem);
	padding: 0rem;
}

.up {
	top: -100vh;
}

.down {
	top: 0vh;
}

div.page1 {
	z-index: -1;
}

div.page2 {
	z-index: -2;
}

div.page3 {
	z-index: -3;
}

div.page4 {
	z-index: -4;
}

div.page5 {
	z-index: -5;
}

div.page6 {
	z-index: -6;
}

div.page7 {
	z-index: -7;
}

div.page8 {
	z-index: -8;
}

div.page9 {
	z-index: -9;
}

#end {
	margin-bottom: 0;
}

.header {
	font-size: 4rem;
	line-height: 4rem;
	letter-spacing: -0.1rem;
}

.cat {
	letter-spacing: -0.1rem;
}

.header.full-site {
	position: absolute;
	bottom: 0;
	right: 2rem;
	text-align: right;
}

div.module {
	position: absolute;
	width: calc(100vw - 8rem);
	height: calc(100vh - 8rem);
	top: 0;
	left: 0;
	margin: 4rem;

	/*overflow: auto;*/
	white-space: nowrap;
}

.blank {
	width: 100%;
	height: calc(100%);
}

img.module {
	height: calc(100% - 0.3rem);
	width: auto;
	margin-right: 2rem;
}

img.module.gif {
	height: calc(60% - 0.3rem);
}

#no-margin-right {
	margin-right: 0;
}

iframe.ty {
	margin-top: -24rem;
}

a.back,
a.next {
	display: block;
	position: absolute;
	bottom: 1rem;
	padding: 1rem;

	color: rgba(0, 100, 0, 1.0);
	font-family: serif;
	font-size: 2rem;
	text-decoration: none;

	user-select: none;
}

a.next {
	right: 0;
	margin: -1rem 1rem -1rem -1rem;

	cursor: e-resize;
}

a.back {
	left: 0;
	margin: -1rem -1rem -1rem 1rem;

	cursor: w-resize;
}

a.back:hover {
	left: -95%;
}

a.end {
	text-decoration: none;
	border-bottom: 3px solid black;
}

a.grave {
	text-decoration: none;
	margin-bottom: 2rem;
	margin-right: 2rem;
}

a.next:hover,
a.back:hover {
	font-style: normal;

    animation: back-n-forth 600ms linear 0s infinite normal;
}

.italic {
	font-style: italic;
}

.cat.text {
	position: absolute;
	width: calc(100% - 4rem);
	bottom: 4rem;
}

.cat {
	font-size: 4rem;
	line-height: 4rem;
}

.no-marg-bot.cat.text {
	bottom: 0rem;
}

.cat-hovering {
	background-color: black;
	color: white;
}

.align-right {
	text-align: right;
}


@media only screen and (max-width: 1000px) {

	.page-title, 
	p.b.works-list, 
	p.a,
	li, 
	span.b, 
	span.date, 
	a.page-title,
	.header {
		font-size: 1.75rem;
		line-height: 2.2rem;
	}

	span.da-ge {
		font-size: 1.4rem;
	}

	.three-columns {
		grid-template-columns: 1fr 1fr;
	}

	.b.works-list {
		margin-left: 3.5rem;
	}
}

@media only screen and (max-width: 660px) {

	.page-title, 
	p.b.works-list, 
	p.a,
	li, 
	span.b, 
	span.date, 
	a.page-title,
	.header {
		font-size: 1.5rem;
		line-height: 1.87rem;
	}

	p,
	.header {
		margin: 0rem 0rem 1.5rem 0rem;
	}

	p.a {
		margin-left: -0.7rem;
	}

	.b.works-list {
		margin-left: 2.5rem;
	}

	span.da-ge {
		font-size: 1.2rem;
	}

	.column {
		/*width: 100%;*/
		/*height: 100%;*/
		padding: 0rem;

		/*background-color: red;*/
	}

	.column-left,
	.column-right {
		position: absolute;
		width: calc(100vw - 3rem);

		background-color: palevioletred;
	}

	.column-left {
		height: calc(35vh - 2.25rem);
		top: 0;
		margin-bottom: 0.75rem;
		padding: 1.5rem 1.5rem 0rem 1.5rem;
	}

	.column-right {
		height: calc(65vh - 2.25rem);
		top: 35vh;
		margin-top: 0.75rem;
		padding: 0rem 1.5rem 1.5rem 1.5rem;
	}

	img.main {
		margin-bottom: 1.5rem;
	}

	img.works {
		margin: 0.75rem 0rem 0.75rem 0rem;
	}

	.poem {
		/*margin-left: 1.5rem;*/
	}

	img.no-top-margin {
		margin: 0rem 0rem 0.75rem 0rem;
	}

	#no-bottom-margin {
		margin-bottom: 4.5rem;
	}

	iframe {
		margin: 0rem 0rem 0.75rem 0rem;
	}

	img.wink {
		width: 1.2rem;
	}

	.three-columns {
		grid-column-gap: 1.5rem;
	}
}




